<div class="sidebar">
    <!-- <div class="logo">
        <a href="http://www.github.com/DanielPeshkov" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            Daniel Peshkov
        </a>
    </div> -->
    <!-- <ul> -->
        @for (menuItem of menuItems; track $index;) {
            <a href="{{menuItem.path}}">
                <p>{{menuItem.title}}</p>
            </a>
        }
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}"> -->
            <!-- <a href="{{menuItem.path}}">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a> -->
        <!-- </li> -->
    <!-- </ul> -->
</div>