<main>
    <!-- <div style="width:160px; height:100%; float:left;"> -->
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <div class="header">
        <h1>Teams</h1>
    </div>
    
    <div class="content">

        <table>
            <thead>
                <tr>
                    <th><br>ID<br><input type="text" size="1" placeholder="ID" [formControl]="idFilter" (input)="filterTeam()"></th>
                    <th><br>Code<br><input type="text" size="1" placeholder="Code" [formControl]="codeFilter" (input)="filterTeam()"></th>
                    <th><br>Name<br><input type="text" size="6" placeholder="Name" [formControl]="teamFilter" (input)="filterTeam()"></th>
                    <th><br>Coach<br><input type="text" size="6" placeholder="Coach" [formControl]="coachFilter" (input)="filterTeam()"></th>
                    <th>Offensive<br>Coordinator<br><input type="text" size="12" placeholder="Off Coord" [formControl]="offFilter" (input)="filterTeam()"></th>
                    <th>Defensive<br>Coordinator<br><input type="text" size="12" placeholder="Def Coord" [formControl]="defFilter" (input)="filterTeam()"></th>
                    <th><br>Stadium<br><input type="text" size="8" placeholder="Stadium" [formControl]="stadFilter" (input)="filterTeam()"></th>
                    <th><br>Owner<br><input type="text" size="6" placeholder="Owner" [formControl]="ownFilter" (input)="filterTeam()"></th>
                    <th>General<br>Manager<br><input type="text" size="6" placeholder="GM" [formControl]="gmFilter" (input)="filterTeam()"></th>
                </tr>
            </thead>
            <tbody>
                @for (team of tableTeams; track $index) {
                    <tr class="clickable" (click)="rowClick(team)">
                        <td>{{team.id}}</td>
                        <td>{{team.code}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.coach}}</td>
                        <td>{{team.off_coord}}</td>
                        <td>{{team.def_coord}}</td>
                        <td>{{team.stadium}}</td>
                        <td>{{team.owner}}</td>
                        <td>{{team.gm}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

