<main>
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <div class="content">

        <div class="form-container">
            <h1>Create New Team</h1>
        <form>

            <div class="form-element">
                <label>Team Code</label><br>
                <input type="text" maxlength="3" required placeholder="Code" [formControl]="codeField">
            </div>

            <div class="form-element">
                <label>Team Name</label><br>
                <input type="text" placeholder="Team" [formControl]="teamField">
            </div>

            <div class="form-element">
                <label>Coach</label><br>
                <input type="text" placeholder="Coach" [formControl]="coachField">
            </div>

            <div class="form-element">

                <label>Offensive Coordinator</label><br>
                <input type="text" placeholder="Off Coord" [formControl]="offField">
            </div>

            <div class="form-element">

                <label>Defensive Coordinator</label><br>
                <input type="text" placeholder="Def Coord" [formControl]="defField">
            </div>

            <div class="form-element">

                <label>Stadium Name</label><br>
                <input type="text" placeholder="Stadium" [formControl]="stadField">
            </div>

            <div class="form-element">

                <label>Owner</label><br>
                <input type="text" placeholder="Owner" [formControl]="ownField">
            </div>

            <div class="form-element">
                <label>General Manager</label><br>
                <input type="text" placeholder="GM" [formControl]="gmField">
        </div>
        </form>
    </div>
    <div class="buttons">
        <button type="button" (click)="submitTeam()">Save Changes</button>
        <button type="button" (click)="cancel()">Cancel</button>
    </div>
    </div>
</main>