.sidebar-wrapper{

    width: 13%;
    height: 100%;
    float:left;
    padding-bottom: 75px;

    background: linear-gradient(to bottom, #FFA534 0%, #ff5221 100%);
    margin: 0;
    padding: 0;
    position: fixed;
}

/* Sidebar links */
.sidebar-wrapper > .sidebar {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-color: #04AA6D;
}

/* Active/current link */
.sidebar-wrapper a.active {
background-color: #04AA6D;
color: white;
}

/* Links on mouse-over */
.sidebar-wrapper a:hover:not(.active) {
background-color: #555;
color: white;
}
  

.content {
    width: 85%;
    height: 100%;
    margin-left: 0px;
    float: right;
    padding: 0px;
    border: 0px;
}

.clickable {
    cursor: pointer;
}

.main {
    border: 0px;
    margin: 0px;
    padding: 0px;
}


label {
    font-size: 1.2em;
}

input, select {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    border-bottom: 3px solid #000;
    color: #777;
    border-color: #c0c4c9;
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 2px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}

input:hover, select:hover {
    border-radius: .5em;
    border-width: 2px;
    background-color: #aaa;
    color: white;
}

input:focus, select:focus{
    color: #000;
    border-radius: .5em;
    background-color: white;
}

.form-container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.form-element {
    display: inline-block;
}

.buttons {
    width: 100%;
    text-align: center;
}

button {
    margin: 1em;
    font-size: 1em;
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 1em;
    border-color: #c0c4c9;
    border-style: solid;
}

button:hover {
    border-color: #000;
    border-width: 2px;
    background-color: #555;
    color: white;
}